/*Estamos ulizando um seletor, toda tag h2 será blue */
h2{
    color:blue;
}


/*Vamos criar um ID para alterar 
partes específicas do html */

#principal{
    color:orange;
}

/*Vamos criar um Class*/

.paragrafo{
    color:rgb(0, 238, 255);
}

/*A diferença da class para o ID é que com class podemos 
utilizar em mais de um elemento*/

/* Como definir as cores

    color:rgb(0-255,0-255,0-255); RGB
    color:rgba(0-255,0-255,0-1);  RGBA - opacidade
    color:#ffffff                 Hexadecimal
*/
/* modificar background */

#mudarbd{
    background-color: darkmagenta;
}

#mudarbdimage{
    background-image: url(./assets/carro.jpg);
    background-repeat:repeat-x; /*Define se a imagem vai se repetir ou não */
    background-size: cover; /* Vai preencher toda a tag */
    background-attachment: fixed; /*Fixa a imagem, quando rolar a imagem fica fixa*/
    background-position: center; /*Define a posição da imagem*/
}

/*Utilizando uma div no html, lembre-se que se você usar uma class ou um id, as coisas podem ser sobrescritas
a depender da ordem*/
.usodiv{
    background-color: darkviolet;
}

/* Unidaddes de medida */

#cm{
    background-color: blue;
    width: 1cm;
    height: 1cm;
}

#mm{
    background-color: red;
    width: 5mm;
    height: 5mm;
}

#in{
    background-color: green;
    width: 0.5in;
    height: 0.5in;
}

#px{
    background-color: purple;
    width: 10px;
    height: 10px;
}

#pt{
    background-color: orange;
    width: 10pt;
    height: 10pt;
}

/* Unidades de Medida Relativa */

.container{
    font-size: 25px;

    width: 10vw;
    background-color: red;
}
/* a unidade vw se refere a porcentagem do valor de largura da janela, 10vw = 10% da largura máxima da janela */
/* a unidade vh é igual a vw, mas em relação a altura */
/* vmin irá se referir a menor dimensão da página*/
/* vmax é o contrário de vmin */
/* % se refere a uma % do elemento pai */
.inside{
    font-size: 20%;

    width: 3em;
    background-color: blue;
}

/* o rem vai ser em proporção com o elemento da raiz, no caso a tag html */

/* Margin e Padding */

#base{
    height: 40px;
    background-color: red;
}

#conteudo{
    background-color: blue;
    margin-top: 20px;
    margin-left: 10px;
    padding: 20px;
}
